qe2/src/main/resources/QE2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CrossingStatementList">
    <xs:annotation>
      <xs:documentation>edited with XMLSpy v2014 (x64) (http://www.altova.com) by Nivi Kundem</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:date" name="DateGenerated"/>
        <xs:element type="xs:time" name="TimeGenerated"/>
        <xs:element name="CrossingStatement" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="DateGenerated"/>
              <xs:element type="xs:time" name="TimeGenerated"/>
              <xs:element name="AccountEntry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ReferenceNumber"/>
                    <xs:element type="xs:date" name="StartDate"/>
                    <xs:element type="xs:time" name="StartTime"/>
                    <xs:element type="xs:byte" name="VehicleNumber"/>
                    <xs:element name="AmountPayable">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="Amount"/>
                          <xs:element type="xs:float" name="VAT"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>